/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/

    
  
    $black-color: hsl(0, 0%, 0%);
    $white-color: hsl(0, 0%, 95%);

  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    $body-font: "Bai Jamjuree", sans-serif;
    $body-font: "Source Serif 4", serif;
    $biggest-font-size: 2.5rem;
    $h1-font-size: 1.75rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 1.125rem;
    $normal-font-size: .938rem;
    $small-font-size: .813rem;
    $smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    $font-regular: 400;
    $font-medium: 500;
    $font-semi-bold: 600;
    $font-bold: 700;
  

    @media screen and (max-width: 600px) {

  body {
    margin: 0;
    background-color: white;

  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
    color: white;
    margin-bottom: 80px;
}

.logo img{
    width: 5rem; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px; 
}

nav ul li a {
    color: black;
    text-decoration: none;
}


nav ul li a:hover {
    text-decoration: underline;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.destination__image a img{
  position: relative;
  height: 400px;
  width: 350px;
  
  
}

.destination__container {
  max-width: 800px;  
    margin: 0 auto; /*Centrer horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination__informations {
background-color: rgba(255, 255, 255, 0.71);
position: relative;
top: -170px;
width: 330px;
padding: 3px;
font-weight: bold;
}

    }$vert-clair: rgba(186, 238, 212, 0.508);
$vert-fonce: rgba(0, 182, 142, 100);

// VERSION MOBILE
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Tauri';
    background-color: $vert-clair;
}

.logo img {
    width: 200px;
    padding: 20px;
}

.container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar img {
        border-radius: 50%;
        width: 160px;
        margin-bottom: 20px;
    }

    .form-group {
        width: 100%;
        margin-bottom: 15px;
    }
}

.connect {
    text-align: center;

    div {
        margin-bottom: 10px;
    }

    .btn {
        background-color: $vert-fonce;
    }
}

footer {

    &>p {
        color: $vert-fonce;
    }
}

// Ajouter des styles spécifiques pour les écrans plus larges si nécessaire
@media screen and (min-width: 1100px) {
    .logo img {
        width: 250px;
        padding: 20px;
    }

    .form-group {
        display: flex;
        justify-content: center;
    }

    .form input {
        width: fit-content;
    }
}

